<div>
  <div>
    <h1>
      List of all workouts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new workout
    </h2>

    <form action="/insert_workout" method="post">
      <div>
        <label for="exercise_id_box">
          Exercise 1
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div>
      <div>
        <label for="exercise_id_box">
          Exercise 2
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div><div>
        <label for="exercise_id_box">
          Exercise 3
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div><div>
        <label for="exercise_id_box">
          Exercise 4
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div><div>
        <label for="exercise_id_box">
          Exercise 5
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div><div>
        <label for="exercise_id_box">
          Exercise 6
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div><div>
        <label for="exercise_id_box">
          Exercise 7
        </label>

        <input type="text" id="exercise_id_box" name="query_exercise_id">
      </div>
<%# 
      <div>
        <label for="coaches_comments_box">
          Coaches comments
        </label>

        <input type="text" id="coaches_comments_box" name="query_coaches_comments">
      </div> %>

      <button>
        Create workout
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Exercise
        </th>

        <th>
          Coaches comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_workouts.each do |a_workout| %>
      <tr>
        <td>
          <%= a_workout.id %>
        </td>

        <td>
          <%= a_workout.exercise_id %>
        </td>

        <td>
          <%= a_workout.coaches_comments %>
        </td>

        <td>
          <%= time_ago_in_words(a_workout.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_workout.updated_at) %> ago
        </td>

        <td>
          <a href="/workouts/<%= a_workout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
